.cardPanier {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .cardPanier-img {
        width: 30%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }

        span {
            position: absolute;
            font-size: 0.7em;
            top: 10px;
            left: 10px;
            border-radius: 20px;
            padding: 2px 5px;
            background-color: rgba(0, 0, 0, 0.693);
            color: #fff;
            border: 1px solid #fff;
            z-index: 1;
        }
    }

    .cardPanier-body {
        width: 60%;
        padding: 10px 20px;

        h3 {
            font-size: 1.2em;
            font-weight: 600;
            color: #333;
        }

        .select-quantite {
            font-size: 0.95em;
            font-weight: 600;

            span {
                color: green;
            }
        }
    }

    .quantite-cardPanier {
        display: flex;
    }
}