.favorite {
    width: 100%;
    background-color: rgba(238, 238, 238, 0.59);
}

.favorite-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .favorite-title h3 {
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.727);
    }

    .favorite-search {
        background-color: white;
        padding: 0.5em;
        width: 40px;
        height: 40px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.5s;

        .icon {
            color: rgba(51, 51, 51, 0.523);
            cursor: pointer;
            margin-right: 5px;
            height: 100%;
            border-radius: 50%;
        }

        input {
            width: 100%;
            padding: 0.39em;
            border-radius: 20px;
            outline: none;
            border: none;
            text-align: left;
            font-size: 1.1em;
            margin: 0;
        }
    }

    .favorite-search-active {
        width: 240px;
    }
}