.selectQuantite {
    height: 20px;
    display: flex;
    align-items: center;

    p {
        font-size: 1em;
        font-weight: 600;
        color: #333;
        margin-right: 20px;
    }

    span {
        text-align: center;
        line-height: 40px;
        font-size: 1.2em;
        font-weight: 700;
        color: rgba(51, 51, 51, 0.741);
    }
}