.slider{
    width:100%;
    margin-bottom: 50px;

    .sliderImg{
        width:100%;
        height: 500px;
        position:relative;

        img{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
}